:root {
  --global-color-primary: #FF7168;
  --global-color-secondary: #F1FF82;
  --global-color-tertiary: #3F85CC;
  --global-color-accent: #B34037;
  --global-text-color: #444455;
  --title-text-font-family: 'Open Sans', sans-serif;
  --base-text-font-family: 'Bree Serif', sans-serif;
  --global-focus-outline: 6px solid var(--global-color-accent)
}

body {
  font-family: 'Bree Serif', serif;
  margin: 0;
  line-height: 1.5;
  color: var(--global-text-color);
}

a {
  color: var(--global-color-secondary);
}

a:focus {
  outline: var(--global-focus-outline);
}

.feather {
  width: 16px;
  height: 16px;
  stroke: currentColor;
  stroke-width: 2;
  margin-bottom: -2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

h1 {
  font-family: var(--title-text-font-family);
  font-size: 60px;
  margin: 0;
  font-weight: 800;
}

h2 {
  font-size: 32px;
  margin: 0px;
  font-family: var(--title-text-font-family);
  font-weight: 800;
}

h2.subtitle {
  font-family: var(--base-text-font-family);
  font-weight: 400;
}

h4 {
  margin: 0;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  filter: brightness(90%);
}

.clickable:focus {
  outline: var(--global-focus-outline);
}

.clickable:active {
  box-shadow: none;
  transform: translateY(6px);
}

.main-bg {
  background-color: var(--global-color-tertiary);
  height: 100vh;
  width: 100vw;
  display: flex;
}

.grid-container {
  padding: 48px;
  flex: 2;
  display: grid;
  grid-gap: 18px;
  grid-template-columns: minmax(300px, 35%) repeat(3, 1fr) 0.25fr;
  grid-template-rows: 0.5fr 0.75fr repeat(2, 1fr) repeat(2, 0.75fr);
}

.grid-item {
  background-color: var(--global-color-primary);
  display: flex;
  align-items: center;
  padding: 24px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 6px var(--global-color-secondary);
}

.item-title {
  width: 100%;
  text-align: center;
  display: block;
  font-size: 24px;
}

.grid-item .description {
  line-height: 1.5;
  text-align: center;
}

.hoverable {
  cursor: pointer;
}

.hoverable:hover {
  animation-name: in;
}

.hoverable .show-on-hover {
  display: none;
}

.hoverable:hover .show-on-hover {
  display: block;
}

.hoverable:hover .show-default {
  display: none;
}

.title {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about-me {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer {
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 6;
  grid-row-end: span 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 65%;
}

.test {
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.react {
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 4;
  grid-row-end: span 2;
}

.color-playground {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
  background-color: var(--global-color-secondary);
  box-shadow: 0 6px 0 var(--global-color-primary);
}

.css {
  grid-column-start: 4;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 1;
}