body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: #555;
  font-weight: 600;
}

a {
  color: #444;
}

.feather {
  width: 16px;
  height: 16px;
  stroke: currentColor;
  stroke-width: 2;
  margin-bottom: -2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  margin: 0;
  font-weight: 800;
  color: #222;
}

h2 {
  font-size: 24px;
  margin: 0px;
  font-weight: 400;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 600;
}

h4 {
  margin-top: 0px;
  margin-bottom: 6px;
  font-weight: 600;
}

.main-bg {
  background-color: #fff1c1;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.title h1 {
  margin-top: 0px;
}

.title h2,
.title h3,
.title h4 {
  margin-bottom: 0px;
}

.grid-container {
  padding: 48px;
  flex: 2;
  display: grid;
  grid-gap: 18px;
  grid-template-columns: minmax(300px, 35%) repeat(3, 1fr) 0.25fr;
  grid-template-rows: 0.5fr 0.75fr repeat(2, 1fr) repeat(2, 0.75fr);
}

.grid-item {
  background-color: #b0f4e6;
  display: flex;
  align-items: center;
  padding: 24px;
  overflow: hidden;
}

.grid-item.main {
  background-color: #57a99a;
}

.item-title {
  width: 100%;
  text-align: center;
  display: block;
  font-size: 20px;
  color: #555;
}

.grid-item .description {
  line-height: 1.5;
  text-align: center;
}

.hoverable {
  cursor: pointer;
}

.hoverable:hover {
  animation-name: in;
}

.hoverable .show-on-hover {
  display: none;
}

.hoverable:hover .show-on-hover {
  display: block;
}

.hoverable:hover .show-default {
  display: none;
}

.title {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title h1 {
  color: #fff;
}

.title h2 {
  color: #fff;
}

.about-me {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
}

.footer {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 6;
  grid-row-end: span 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  width: calc(50% - 48px);
}

.test {
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.react {
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 4;
  grid-row-end: span 2;
}

.javascript {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
}

.css {
  grid-column-start: 4;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 1;
}